
@model Latest_Staff_Portal.ViewModel.PurchaseOrder
@{
    ViewBag.Title = "PurchaseOrderDocumentView";
    Layout = "~/Views/Shared/Sitemaster.cshtml";
}




<style>
    thead {
        background-color: black;
        color: white;
    }

    hr {
        margin: 4px;
    }

    .BtnPadding {
        padding: 1px;
        font-size: 12px;
    }
</style>


<div class="page-header">
    <div class="row">
        <div class="col-sm-12">
            <ul class="breadcrumb">
                <li class="breadcrumb-item">
                    <a href="#" onclick="FrameworkContractLink();">Procurements</a>
                </li>
                <li class="breadcrumb-item active">Purchase Order (@Model.No)</li>
            </ul>
        </div>
    </div>
</div>
<hr />
<br />


<div class="card">

    <div class="text-center mt-5">
        <h4>Purchase Order (@Model.No)</h4>
    </div>
    <hr />

    <div style="text-align:right" id="HideEditButton">-->
        @{
                if (@Model.Status == "Open")
                {
                    <div style="text-align:right" id="HideEditButton">
                        <input type="button" style="background: #162f25; color:whitesmoke; border-radius:10px" id="btnEdit" value="Edit Header" onclick="EditDocument();" />
                    </div>
                }
            }
    </div>


    <div class="card-body">
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    @Html.Label("Vendor Name ", new { @class = "control-label col-md-12" })
                    @Html.TextBoxFor(m => m.Buy_from_Vendor_Name, new { @class = "form-control", @readonly = "readonly", style = "background-color:#dedebd" })
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    @Html.Label("Procurement Type ", new { @class = "control-label col-md-12" })
                    @Html.TextBoxFor(m => m.Procurement_Type, new { @class = "form-control", @readonly = "readonly", style = "background-color:#dedebd" })

                </div>
            </div>

            <div class="col-md-6">
                <div class="form-group">
                    @Html.Label("Contact ", new { @class = "control-label col-md-12" })
                    @Html.TextBoxFor(m => m.Buy_from_Contact, new { @class = "form-control", @readonly = "readonly", style = "background-color:#dedebd" })

                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    @Html.Label("Status ", new { @class = "control-label col-md-12" })
                    @Html.TextBoxFor(m => m.Status, new { @class = "form-control", @readonly = "readonly", style = "background-color:#dedebd" })

                </div>
            </div>

            <div class="col-md-6">
                <div class="form-group">
                    @Html.Label("Document Date ", new { @class = "control-label col-md-12" })
                    @Html.TextBoxFor(m => m.Document_Date, new { @class = "form-control", @readonly = "readonly", style = "background-color:#dedebd" })

                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    @Html.Label("Vendor Shipment No ", new { @class = "control-label col-md-12" })
                    @Html.TextBoxFor(m => m.Vendor_Shipment_No, new { @class = "form-control", @readonly = "readonly", style = "background-color:#dedebd" })
                </div>
            </div>


            <div class="col-md-6">
                <div class="form-group">
                    @Html.Label("Procurement Type ", new { @class = "control-label col-md-12" })
                    @Html.TextBoxFor(m => m.Procurement_Type, new { @class = "form-control", @readonly = "readonly", style = "background-color:#dedebd" })

                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    @Html.Label("Status ", new { @class = "control-label col-md-12" })
                    @Html.TextBoxFor(m => m.Status, new { @class = "form-control", @readonly = "readonly", style = "background-color:#dedebd" })


                </div>
            </div>
            
            <div class="col-md-6">
                <div class="form-group">
                    @Html.Label("Purchaser Code ", new { @class = "control-label col-md-12" })
                    @Html.TextBoxFor(m => m.Purchaser_Code, new { @class = "form-control", @readonly = "readonly", style = "background-color:#dedebd" })
                </div>
            </div>

           

        <hr />
        <div align="center" id="DivUpdateButton">
            <input type="button" class="btn btn-primary waves-effect waves-light" value="Update Header" onclick="UpdatePurchaseHeader();" />
        </div>
        <div id="DivPurchaseRegLines">
            <hr style="border:1px solid black" />
            <b>Purchase Lines</b>
            <hr />
            <div id="divFrameworkContractLines"></div>
            <hr style="border:1px solid black" />
        </div>

    </div>


    @{
        if (Model.Status == "Open")
        {
            <div align="center">
                <input type="button" class="btn btn-primary waves-effect waves-light" value="Send (@Model.No) For Approval" onclick="SendDocForApproval('@Model.No');" />
            </div>
        }
    }
</div>-->
//////////////////////Modal////////////////////////////
<div class="modal" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content bg-white">
            <div class="modal-header">
                <h4 class="modal-title">
                    <label id="labelF"></label>
                </h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" id="modalBody">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger waves-effect " data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
//////////////////////Modal View Doc////////////////////////////
<div class="modal fade" id="myModalAttachment" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content bg-white">
            <div class="modal-header">
                <h4 class="modal-title">Attachment</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" id="modalAttachmentBody" style="width:100%;height:450px">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger waves-effect " data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>-->
//////////////////////Document Rejection Modal////////////////////////////
<div class="modal fade" id="myModalComments" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content bg-white">
            <div class="modal-header">
                <h4 class="modal-title">Rejection Comments</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" id="modalCommentBody">
                <div id="divDocComments"></div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger waves-effect " data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

    </div>
<script src="~/assets/js/ShowProgression.js"></script>
<script src="~/assets/js/pdfobject.min.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        LoadPurchaseOrderLines(`@Model.No`);
  });
    var LoadPurchaseOrderLines = function (DocNo ) {
        ShowProgress();
        $.ajax({
            async: true,
            type: "POST",
            datatype: "json",
            contentType: "application/json; charset = utf-8",
            processData: false,
            data: JSON.stringify({ DocNo: DocNo, Status: Status }),
            url: "/Purchase/FrameworkContractLines",
            success: function (data) {
                $("#divFrameworkContractLines").html(data);
                HideProgress();
                GetDocumentAttachments();
            },
            error: function () {
                HideProgress();
                Swal.fire("There is some problem to process your request. Please try after some time");
            }
        });
    };

    var FrameworkContractLink = function () {
        ShowProgress();
        window.location = "/Purchase/FrameworkContract";
    }

    



</script>



