@model Latest_Staff_Portal.ViewModel.ProcurementPlan


@{
    ViewBag.Title = "FunctionalProcurementPlan";
    Layout = "~/Views/Shared/Sitemaster.cshtml";
}
<style>
    thead {
        background-color: black;
        color: white;
    }

    hr {
        margin: 4px;
    }

    .BtnPadding {
        padding: 1px;
        font-size: 12px;
    }
</style>
<div class="page-header">
    <div class="row">
        <div class="col-sm-12">
            <ul class="breadcrumb">
                <li class="breadcrumb-item">
                    <a href="#" onclick="RevisionVouchersLink();">Revision Vouchers</a>
                </li>
                <li class="breadcrumb-item active">Revision Vouchers Document (@Model.Code)</li>
            </ul>
        </div>
    </div>
</div>
<div class="card">
    <div class="card-body">

        <div style="text-align:right; margin-bottom: 20px">
            <button style="background: #162f25; color: whitesmoke; border-radius: 10px" onclick="GenerateProcurementPlanReport('@Model.Code');">
                <i class="fa fa-print" aria-hidden="true"></i> Print Report
            </button>
        </div>



        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    @Html.Label("PJ No:", new { @class = "control-label col-md-12" })
                    @Html.TextBoxFor(m => m.Code, new { @class = "form-control", @readonly = "readonly", style = "background-color:#dedebd" })

                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    @Html.Label("Financial Budget ID:", new { @class = "control-label col-md-12" })
                    @Html.TextBoxFor(m => m.FinancialBudgetID, new { @class = "form-control", @readonly = "readonly", style = "background-color:#dedebd" })

                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    @Html.Label("Corporate Strategic Plan ID:", new { @class = "control-label col-md-12" })
                    @Html.TextBoxFor(m => m.ConsolidatedProcurementPlan, new { @class = "form-control", @readonly = "readonly", style = "background-color:#dedebd" })

                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    @Html.Label("Financial Budget ID:", new { @class = "control-label col-md-12" })
                    @Html.TextBoxFor(m => m.FinancialBudgetID, new { @class = "form-control", @readonly = "readonly", style = "background-color:#dedebd" })

                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    @Html.Label("Year Code:", new { @class = "control-label col-md-12" })
                    @Html.TextBoxFor(m => m.FinancialYearCode, new { @class = "form-control", @readonly = "readonly", style = "background-color:#dedebd" })

                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    @Html.Label("Document Date:", new { @class = "control-label col-md-12" })
                    @Html.TextBoxFor(m => m.DocumentDate, new { @class = "form-control", @readonly = "readonly", style = "background-color:#dedebd" })

                </div>
            </div>

        </div>


        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    @Html.Label("From ", new { @class = "control-label col-md-12" })
                    @Html.TextBoxFor(m => m.StartDate, new { @class = "form-control", @readonly = "readonly", style = "background-color:#dedebd" })

                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    @Html.Label("To ", new { @class = "control-label col-md-12" })
                    @Html.TextBoxFor(m => m.EndDate, new { @class = "form-control", @readonly = "readonly", style = "background-color:#dedebd" })

                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    @Html.Label("Geographical Location", new { @class = "control-label col-md-12" })
                    @Html.TextBoxFor(m => m.GlobalDimension1Code, new { @class = "form-control", @readonly = "readonly", style = "background-color:#dedebd" })

                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    @Html.Label("Administrative unit Code", new { @class = "control-label col-md-12" })
                    @Html.TextBoxFor(m => m.GlobalDimension2Code, new { @class = "form-control", @readonly = "readonly", style = "background-color:#dedebd" })

                </div>
            </div>

        </div>

        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    @Html.Label("Vote", new { @class = "control-label col-md-12" })
                    @Html.TextBoxFor(m => m.GlobalDimension3Code, new { @class = "form-control", @readonly = "readonly", style = "background-color:#dedebd" })

                </div>
            </div>
            <div class="col-md-12">
                <div class="form-group">
                    @Html.Label("Description", new { @class = "control-label col-md-12" })
                    @Html.TextBoxFor(m => m.Description, new { @class = "form-control", @readonly = "readonly", style = "background-color:#dedebd" })
                </div>
            </div>
        </div>
        <hr style="border:1px solid black" />
        <hr />
        <div id="divProcurementPlanLines"></div>
        <hr style="border:1px solid black" />
        <b id="textHead"></b>
        <hr />
        <div id="divEntries"></div>
        @{
            if (Model.ApprovalStatus == "Open")
            {
                <div align="center">
                    <input type="button" class="btn btn-primary waves-effect waves-light" value="Send (@Model.Code) For Approval" onclick="sendPCAAppForApproval('@Model.Code');" />
                </div>
            }
        }

    </div>
</div>

@*//////////////////////Modal////////////////////////////*@
<div id="myModal" class="modal fade" tabindex="-1" role="dialog" ke aria-labelledby="myModalLabel" aria-hidden="true" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title mt-0" id="myModalLabel">
                    <label id="lblTitl"> </label>
                </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" id="modalBody">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary waves-effect" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
@*//////////////////////Modal View Doc////////////////////////////*@
<div class="modal fade" id="myModalAttachment" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content bg-white">
            <div class="modal-header">
                <h4 class="modal-title">Attachment</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" id="modalAttachmentBody" style="width:100%;height:450px">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger waves-effect " data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
@*//////////////////////Document Rejection Modal////////////////////////////*@
<div class="modal fade" id="myModalComments" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content bg-white">
            <div class="modal-header">
                <h4 class="modal-title">Rejection Comments</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" id="modalCommentBody">
                <div id="divDocComments"></div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger waves-effect " data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

@*/////////////////////Report////////////////////////////*@
<div id="myModalUnits" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="myModalLabel">Revision Voucher Report</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <iframe src="" frameborder="0" width="100%" height="600px"></iframe>
            </div>
        </div>
    </div>
</div>







<script src="~/assets/js/ShowProgression.js"></script>
<script src="~/assets/js/pdfobject.min.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        LoadPurchaseDocumentLines(`@Model.Code`, `@Model.ApprovalStatus`);
        var status = `@Model.ApprovalStatus`;
        $("#divEntries").hide();
        $("#entries").hide();
        var Successmsg = '@Request.RequestContext.HttpContext.Session["SuccessMsg"]';
        if (Successmsg != "") {
            Swal.fire('Success', Successmsg, 'success', true);
            $.ajax({
                type: "POST",
                url: "/Common/NullibySessions"
            });
        }
    });
    var LoadPurchaseDocumentLines = function (DocNo) {
        ShowProgress();
        $.ajax({
            async: true,
            type: "POST",
            datatype: "json",
            contentType: "application/json; charset = utf-8",
            processData: false,
            data: JSON.stringify({ DocNo: DocNo}),
			url: "/Purchase/ProcurementPlanLines",
            success: function (data) {
				$("#divProcurementPlanLines").html(data);
                HideProgress();
                GetDocumentAttachments();
            },
            error: function () {
                HideProgress();
                Swal.fire("There is some problem to process your request. Please try after some time");
            }
        });
    };
    var ViewPlanEntries = function (procNo,planning) {
        ShowProgress();
        $.ajax({
            async: true,
            type: "POST",
            datatype: "json",
            contentType: "application/json; charset = utf-8",
            processData: false,
            data: JSON.stringify({ procurementNo: procNo, planningCategory: planning }),
            url: "/Purchase/ProcurementTask",
            success: function (data) {
                $("#divEntries").html(data);
                HideProgress();
                $("#entries").show();
                $("#textHead").text("Procurement Plan Entries For " + (planning));
                $("#divEntries").show();
            },
            error: function () {
                HideProgress();
                Swal.fire("There is some problem to process your request. Please try after some time");
            }
        });
    };
    var GetDocumentAttachments = function () {
        ShowProgress();
        var DocNo = `@Model.Code`;
        var Status = `@Model.ApprovalStatus`;
        $.ajax({
            async: true,
            type: "POST",
            datatype: "json",
            contentType: "application/json; charset = utf-8",
            processData: false,
            data: JSON.stringify({ DocNo: DocNo, TableID: 38, Status: Status}),
            url: "/Common/DocumentAttachments",
            success: function (data) {
                HideProgress();
				$("#divAttachments").html(data);
            },
            error: function () {
                HideProgress();
                Swal.fire("There is some problem to process your request. Please try after some time");
            }
        });
	};
	var AddPlanLine = function () {
        ShowProgress();
        $("#lblTitl").text("Add Procurement Plan Line");
        var DocNo = `@Model.Code`;
        $.ajax({
            async: true,
            type: "POST",
            datatype: "json",
            contentType: "application/json; charset = utf-8",
           // processData: false,
            url: '/Purchase/NewProcurementPlanLine',
            data: JSON.stringify({ DocNo: DocNo }),
            success: function (data) {
                $("#modalBody").html(data);
                HideProgress();
                $("#myModal").modal("show");
            },
            error: function (err) {
                HideProgress();
                Swal.fire('Warning', err, 'warning');
            }
        });
    };
    var AddPlanEntry = function (procurementLine,lineCategory) {
        ShowProgress();
        $("#lblTitl").text("Add Procurement Plan Entry");
        $.ajax({
            async: true,
            type: "POST",
            datatype: "json",
            contentType: "application/json; charset = utf-8",
            url: '/Purchase/NewProcurementPlanEntry',
            data: JSON.stringify({ planLine: procurementLine, category: lineCategory }),
            success: function (data) {
                $("#modalBody").html(data);
                HideProgress();
                $("#myModal").modal("show");
            },
            error: function (err) {
                HideProgress();
                Swal.fire('Warning', err, 'warning');
            }
        });
    };

    function RevisionVouchersLink() {
        window.location ="RevisionVouchers"
    }

    var SubmitItemLine = function () {
    var DocNo = `@Model.Code`;
    var itemno = $("#ddProcPlanItemNo").children("option:selected").val();

    if (itemno === "") {
        Swal.fire('Warning', "Select Procurement Category", 'warning');
        return;
    } else {
        ShowProgress();

        var formData = {
            DocNo: DocNo,
            ProcurementPlanID: itemno,
            ProcurementPlanItemNo: itemno
        };

        $.ajax({
            type: "POST",
            url: "/Purchase/SubmitProcurementLine",
            data: JSON.stringify(formData),
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (data) {
                if (data.success) {
                    HideProgress();
                    LoadPurchaseDocumentLines(`@Model.Code`, `@Model.ApprovalStatus`);
                    $("#txtNetAmount").val(data.NetAmout);
                    $("#myModal").modal("hide");
                    Swal.fire('Success', data.message, 'success');
                } else {
                    Swal.fire('Warning', data.message, 'warning');
                    HideProgress();
                }
            },
            error: function (err) {
                HideProgress();
                Swal.fire('Error', 'An error occurred while processing your request.', 'error');
            }
        });
    }
    };


    var GenerateProcurementPlanReport = function (DocNo) {

        var DocNo = '@Model.Code';

        ShowProgress();
        $.ajax({
            async: true,
            type: "POST",
            datatype: "json",
            data: JSON.stringify({ DocNo: DocNo }),
            contentType: "application/json; charset=utf-8",
            processData: false,
            url: '/Purchase/GenerateProcurementPlanReport',
            success: function (data) {
                if (data.success) {
                    $('iframe').attr('src', "data:application/pdf;base64," + data.message);
                    $("#myModalUnits").modal("show");
                    HideProgress();
                } else {
                    Swal.fire('Error', data.message, 'error');
                    HideProgress();

                }
            },
            error: function (err) {
                HideProgress();
                Swal.fire('Warning', err, 'warning');
            }
        });
    }
</script>
