@model Latest_Staff_Portal.ViewModel.SafariTeam2

@{
    ViewBag.Title = "NewImprestMemoLine";
}



<div class="row">

    <div class="col-md-12">
        <div class="form-group">
            @Html.Label("Destination Town", htmlAttributes: new { @class = "control-label col-md-2" })

            @Html.DropDownListFor(model => model.Work_Type, Model.ListOfImprestTypes, "Select Option", new { @class = "form-control", @id = "Work_Type" })
            @Html.ValidationMessageFor(model => model.Work_Type, "", new { @class = "text-danger" })
        </div>
    </div>

    @* <div class="col-md-6">
            <div class="form-group">
                @Html.Label("Unit Of Measure", htmlAttributes: new { @class = "control-label col-md-2" })

                @Html.DropDownListFor(model => model.Unit_of_Measure, Model.ListOfUOM, "Select Option", new { @class = "form-control", @id = "Unit_of_Measure" })
                @Html.ValidationMessageFor(model => model.Unit_of_Measure, "", new { @class = "text-danger" })
            </div>
        </div>*@
    @*  <div class="col-md-6">
            <div class="form-group">
                @Html.Label("Currency", htmlAttributes: new { @class = "control-label col-md-2" })

                @Html.DropDownListFor(model => model.Currency_Code, Model.ListOfCurrencies, "Select Option", new { @class = "form-control", @id = "Currency_Code" })
                @Html.ValidationMessageFor(model => model.Currency_Code, "", new { @class = "text-danger" })
            </div>
        </div>*@
    @* <div class="col-md-6">
            <div class="form-group">
                @Html.Label("Number Of Days", htmlAttributes: new { @class = "control-label col-md-2" })

                @Html.EditorFor(model => model.Time_Period, new { htmlAttributes = new { @class = "form-control", @id = "Time_Period" } })
                @Html.ValidationMessageFor(model => model.Time_Period, "", new { @class = "text-danger" })
            </div>
        </div>
    *@
    <div class="col-md-12">
        <div class="form-group">
            @Html.Label("Transport_Costs", htmlAttributes: new { @class = "control-label col-md-2" })

            @Html.EditorFor(model => model.Transport_Costs, new { htmlAttributes = new { @class = "form-control", @id = "Transport_Costs" } })
            @Html.ValidationMessageFor(model => model.Transport_Costs, "", new { @class = "text-danger" })
        </div>
    </div>

</div>
<div align="center">
    <input type="button" class="btn btn-primary action-buttons" value="Submit Record" onclick="SubmitImprestMemoLine();" />
</div>
