@model Latest_Staff_Portal.ViewModel.SafariTeam2

@{
    ViewBag.Title = "NewImprestMemoLine";
}



<div class="row">

    <div class="col-md-6">
        <div class="form-group">
            @Html.Label("Destination Town", htmlAttributes: new { @class = "control-label col-md-2" })

            @Html.DropDownListFor(model => model.Work_Type, Model.ListOfImprestTypes, "Select Option", new { @class = "form-control", @id = "Work_Type" })
            @Html.ValidationMessageFor(model => model.Work_Type, "", new { @class = "text-danger" })
        </div>
    </div>
    @*   <div class="col-md-6">
              <div class="form-group">
                  @Html.LabelFor(model => model.Type, htmlAttributes: new { @class = "control-label col-md-2" })

                  @Html.EditorFor(model => model.Type, new { htmlAttributes = new { @class = "form-control" } })
                  @Html.ValidationMessageFor(model => model.Type, "", new { @class = "text-danger" })
              </div>
          </div>
        <div class="col-md-6">
                  <div class="form-group">
                      @Html.LabelFor(model => model.Type_of_Expense, htmlAttributes: new { @class = "control-label col-md-2" })

                      @Html.EditorFor(model => model.Type_of_Expense, new { htmlAttributes = new { @class = "form-control" } })
                      @Html.ValidationMessageFor(model => model.Type_of_Expense, "", new { @class = "text-danger" })
                  </div>
              </div>*@
    <div class="col-md-6">
        <div class="form-group">
            @Html.Label("Payroll No", htmlAttributes: new { @class = "control-label col-md-2" })

            @Html.DropDownListFor(model => model.No, Model.ListOfResources, "Select Option", new { @class = "form-control", @id = "No" })
            @Html.ValidationMessageFor(model => model.No, "", new { @class = "text-danger" })
        </div>
    </div>
    @* <div class="col-md-6">
            <div class="form-group">
                @Html.LabelFor(model => model.G_L_Account, htmlAttributes: new { @class = "control-label col-md-2" })

                @Html.EditorFor(model => model.G_L_Account, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.G_L_Account, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                @Html.LabelFor(model => model.Task_No, htmlAttributes: new { @class = "control-label col-md-2" })

                @Html.EditorFor(model => model.Task_No, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Task_No, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-2" })

                @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
            </div>
        </div>*@
    <div class="col-md-6">
        <div class="form-group">
            @Html.Label("Unit Of Measure", htmlAttributes: new { @class = "control-label col-md-2" })

            @Html.DropDownListFor(model => model.Unit_of_Measure, Model.ListOfUOM, "Select Option", new { @class = "form-control", @id = "Unit_of_Measure" })
            @Html.ValidationMessageFor(model => model.Unit_of_Measure, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="col-md-6">
        <div class="form-group">
            @Html.Label("Currency", htmlAttributes: new { @class = "control-label col-md-2" })

            @Html.DropDownListFor(model => model.Currency_Code, Model.ListOfCurrencies, "Select Option", new { @class = "form-control", @id = "Currency_Code" })
            @Html.ValidationMessageFor(model => model.Currency_Code, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="col-md-6">
        <div class="form-group">
            @Html.Label("Number Of Days", htmlAttributes: new { @class = "control-label col-md-2" })

            @Html.EditorFor(model => model.Time_Period, new { htmlAttributes = new { @class = "form-control", @id = "Time_Period" } })
            @Html.ValidationMessageFor(model => model.Time_Period, "", new { @class = "text-danger" })
        </div>
    </div>
    @* <div class="col-md-6">
            <div class="form-group">
                @Html.LabelFor(model => model.Direct_Unit_Cost, htmlAttributes: new { @class = "control-label col-md-2" })

                @Html.EditorFor(model => model.Direct_Unit_Cost, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Direct_Unit_Cost, "", new { @class = "text-danger" })
            </div>
        </div>*@
    @*  <div class="col-md-6">
            <div class="form-group">
                @Html.LabelFor(model => model.Entitlement, htmlAttributes: new { @class = "control-label col-md-2" })

                @Html.EditorFor(model => model.Entitlement, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Entitlement, "", new { @class = "text-danger" })
            </div>
        </div>*@
    @* <div class="col-md-6">
            <div class="form-group">
                @Html.LabelFor(model => model.Transport_Costs, htmlAttributes: new { @class = "control-label col-md-2" })

                @Html.EditorFor(model => model.Transport_Costs, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Transport_Costs, "", new { @class = "text-danger" })
            </div>
        </div>*@
     <div class="col-md-6">
            <div class="form-group">
                @Html.LabelFor(model => model.Total_Entitlement, htmlAttributes: new { @class = "control-label col-md-2" })

                @Html.EditorFor(model => model.Total_Entitlement, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Total_Entitlement, "", new { @class = "text-danger" })
            </div>
        </div>
    @* <div class="col-md-6">
            <div class="form-group">
                @Html.LabelFor(model => model.Outstanding_Amount, htmlAttributes: new { @class = "control-label col-md-2" })

                @Html.EditorFor(model => model.Outstanding_Amount, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Outstanding_Amount, "", new { @class = "text-danger" })
            </div>
        </div>*@
    @*<div class="col-md-6">
            <div class="form-group">
                @Html.LabelFor(model => model.Tasks_to_Carry_Out, htmlAttributes: new { @class = "control-label col-md-2" })

                @Html.EditorFor(model => model.Tasks_to_Carry_Out, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Tasks_to_Carry_Out, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                @Html.LabelFor(model => model.Expected_Output, htmlAttributes: new { @class = "control-label col-md-2" })

                @Html.EditorFor(model => model.Expected_Output, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Expected_Output, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                @Html.LabelFor(model => model.Delivery, htmlAttributes: new { @class = "control-label col-md-2" })

                @Html.EditorFor(model => model.Delivery, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Delivery, "", new { @class = "text-danger" })
            </div>
        </div>


        <div class="col-md-6">
            <div class="form-group">
                @Html.LabelFor(model => model.Dimension1Code, htmlAttributes: new { @class = "control-label col-md-2" })

                @Html.EditorFor(model => model.Dimension1Code, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Dimension1Code, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                @Html.LabelFor(model => model.Dimension2Code, htmlAttributes: new { @class = "control-label col-md-2" })

                @Html.EditorFor(model => model.Dimension2Code, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Dimension2Code, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                @Html.LabelFor(model => model.Dimension3Code, htmlAttributes: new { @class = "control-label col-md-2" })

                @Html.EditorFor(model => model.Dimension3Code, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Dimension3Code, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                @Html.LabelFor(model => model.Dimension4Code, htmlAttributes: new { @class = "control-label col-md-2" })

                @Html.EditorFor(model => model.Dimension4Code, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Dimension4Code, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                @Html.LabelFor(model => model.Dimension5Code, htmlAttributes: new { @class = "control-label col-md-2" })

                @Html.EditorFor(model => model.Dimension5Code, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Dimension5Code, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                @Html.LabelFor(model => model.Dimension6Code, htmlAttributes: new { @class = "control-label col-md-2" })

                @Html.EditorFor(model => model.Dimension6Code, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Dimension6Code, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                @Html.LabelFor(model => model.Dimension7Code, htmlAttributes: new { @class = "control-label col-md-2" })

                @Html.EditorFor(model => model.Dimension7Code, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Dimension7Code, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                @Html.LabelFor(model => model.Dimension8Code, htmlAttributes: new { @class = "control-label col-md-2" })

                @Html.EditorFor(model => model.Dimension8Code, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Dimension8Code, "", new { @class = "text-danger" })
            </div>
        </div>
    *@
</div>
<div align="center">
    <input type="button" class="btn btn-primary action-buttons" value="Submit Record" onclick="SubmitImprestMemoLine();" />
</div>
