@model Latest_Staff_Portal.ViewModel.TraineeList
<div class="table-responsive">
    <table class="table table-centered table-nowrap" id="ParticipantLines">
        <thead>
        <tr>
            <th>No</th>
            <th>Name</th>
            <th>Destination</th>
            <th>No of Days</th>
            <th>Total Amount</th>
            <th style="text-align:center" class="tdAction">Action</th>
        </tr>
        </thead>
        <tbody>
        @{
            if (Model.ListOfTrainees != null && Model.ListOfTrainees.Count() > 0)
            {
                foreach (var item in Model.ListOfTrainees)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.No)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.DestinationName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.No_of_Days)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Total_Amount)
                        </td>
                        <td style="text-align:center" class="tdAction">
                            <a href="javascript:void(0);" class="text-danger" data-toggle="tooltip" data-placement="top" title="" data-original-title="Delete" onclick="RemoveItem('@item.No','@item.LineNo');">
                                <i class="mdi mdi-close font-size-16"></i>
                            </a>
                        </td>
                    </tr>
                }
            }
            else
            {
                <tr>
                    <td colspan="3" style="color:red">
                        No Records Found
                    </td>
                </tr>
            }
        }
        </tbody>
    </table>
</div>
<div align="right" class="HideLineButton">
    <input type="button" value="Add Participant" class="btn btn-danger BtnPadding" onclick="AddParticipantLines();"/>
</div>
<script type="text/javascript">
    $(document).ready(function () {
        var status = '@Model.Status';
        if (status == "Open") {
            $(".tdAction").show();
            $(".HideLineButton").show();
        }
        else {
            $(".tdAction").hide();
            $(".HideLineButton").hide();
        }
    });
</script>