@model IEnumerable<Latest_Staff_Portal.ViewModel.IFSSecurities>
@{
    var DocNo = ViewBag.DocNo;

}

<div class="mb-5">
    <h4>IFS Securities</h4>
    <hr />
</div>
<div class="table-responsive">
    <table id="IFSSecurities" class="table table-bordered dt-responsive nowrap">
        <thead style="background-color: black; color: white">
            <tr>
                <th>IFS Code</th>
                <th>Form Of Security</th>
                <th>Security Type </th>
                <th>Required at Bid Submission</th>
                <th>Description</th>
                <th>Security Amount LCY</th>
                <th>Bid Security Validity Expiry </th>

            </tr>
        </thead>
        <tbody>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.IFS_Code)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Form_of_Security)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Security_Type)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Required_at_Bid_Submission)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Description)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Security_Amount_LCY)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Bid_Security_Validity_Expiry)
                    </td>

                </tr>
            }
        </tbody>
    </table>
</div>


<div style="text-align: right">
    <button style="background: #162f25; color: whitesmoke; border-radius: 10px" onclick="AddSecurity(`@DocNo`);">
        <i class="fa fa-plus" aria-hidden="true"></i> Add Record
    </button>
</div>



<script>
    var table = $("#IFSSecurities").DataTable({
        lengthChange: true,
        order: [[1, 'desc']],
        lengthMenu: [5, 10, 25, 50, 100],
        "bDestroy": true
    });



    function AddSecurity(DocNo) {
        ShowProgress();
        $.ajax({
            async: true,
            type: "POST",
            datatype: "json",
            data: JSON.stringify({ DocNo: DocNo }),
            contentType: "application/json; charset = utf-8",
            processData: false,
            url: '/Purchase/NewIFSSecurity',
            success: function (data) {
                $("#modalBody").html(data);
                HideProgress();
                $("#myModalLinks").modal("hide");
                $("#myModal").modal("show");
            },
            error: function (err) {
                HideProgress();
                Swal.fire('Warning', err, 'warning');
            }
        });
    }
</script>



