@model Latest_Staff_Portal.ViewModel.PoolCommitteeLines




<div class="row">
    <div class="col-md-12">
        <div class="form-group">
            @Html.LabelFor(model => model.Document_No, htmlAttributes: new { @class = "control-label col-md-2" })

            @Html.EditorFor(model => model.Document_No, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly", @style = "background-color: #dedebd", @id= "Document_No" } })
            @Html.ValidationMessageFor(model => model.Document_No, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="col-md-12">
        <div class="form-group">
            @Html.Label("Member", htmlAttributes: new { @class = "control-label col-md-2" })
            @Html.DropDownListFor(m => m.Member_No, Model.ListOfmemberNo, "--Select Member Number--", new { @class = "form-control select2", @id = "Member_No", onchange = "GetMemberDetails()" })
            @Html.ValidationMessageFor(model => model.Member_No, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="col-md-12" hidden>
        <div class="form-group">
            @Html.LabelFor(model => model.Role, htmlAttributes: new { @class = "control-label col-md-2" })
            <select id="role" class="form-control">
                <option value="" selected hidden>-- Select Role --</option>
                <option value="0">Member</option>
                <option value="1">Chairperson</option>
                <option value="2">Secretary</option>
                <option value="3">Secretariat</option>
            </select>
            @Html.ValidationMessageFor(model => model.Role, "", new { @class = "text-danger" })
        </div>
    </div>
    @* <div class="col-md-6">
            <div class="form-group">
                @Html.LabelFor(model => model.Member_Name, htmlAttributes: new { @class = "control-label col-md-2" })

                @Html.EditorFor(model => model.Member_Name, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Member_Name, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                @Html.LabelFor(model => model.Member_Email, htmlAttributes: new { @class = "control-label col-md-2" })

                @Html.EditorFor(model => model.Member_Email, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Member_Email, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                @Html.LabelFor(model => model.Telephone_No, htmlAttributes: new { @class = "control-label col-md-2" })

                @Html.EditorFor(model => model.Telephone_No, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Telephone_No, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                @Html.LabelFor(model => model.Staff_No, htmlAttributes: new { @class = "control-label col-md-2" })

                @Html.EditorFor(model => model.Staff_No, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Staff_No, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                @Html.LabelFor(model => model.Global_Dimension_1_Code, htmlAttributes: new { @class = "control-label col-md-2" })

                @Html.EditorFor(model => model.Global_Dimension_1_Code, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Global_Dimension_1_Code, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                @Html.LabelFor(model => model.Global_Dimension_2_Code, htmlAttributes: new { @class = "control-label col-md-2" })

                @Html.EditorFor(model => model.Global_Dimension_2_Code, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Global_Dimension_2_Code, "", new { @class = "text-danger" })
            </div>
        </div>*@


</div>

<div class="form-group">
    <div align="center">
        <input type="button" class="btn btn-primary waves-effect waves-light" value="Submit" onclick="submitMember();" />
    </div>
</div>